<%= render 'event_detail_header' %>
<%= render 'event_navigation_bar', :active_tab => "gallery" %>


<div class="event-content-area">
  <br/>
  &nbsp;<%= @event.pictures.length %> pictures
  <br/><br/>
  <div class="gallery">
    <%= image_tag(@event.created_by_profile_picture, :class => 'gallery_img') %>
    <%= image_tag(@event.created_by_profile_picture, :class => 'gallery_img') %>
    <%= image_tag(@event.created_by_profile_picture, :class => 'gallery_img') %>
    <%= image_tag(@event.created_by_profile_picture, :class => 'gallery_img') %>
    <%= image_tag(@event.created_by_profile_picture, :class => 'gallery_img') %>
    <%= image_tag(@event.created_by_profile_picture, :class => 'gallery_img') %>
    <%= image_tag(@event.created_by_profile_picture, :class => 'gallery_img') %>

  </div>

</div>
